<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BlogPost</display-name>

  <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>BlogPost.com.blog.servlet.RegisterServlet</servlet-class>
  </servlet>
  

    <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>BlogPost.com.blog.servlet.LoginServlet</servlet-class>
  </servlet>
  
    <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>BlogPost.com.blog.servlet.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Edit</servlet-name>
  <servlet-class>BlogPost.com.blog.servlet.EditServlet</servlet-class>
  </servlet>
  
   <servlet>
  <servlet-name>Posting</servlet-name>
  <servlet-class>BlogPost.com.blog.servlet.AddPostServlet</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Like</servlet-name>
  <servlet-class>BlogPost.com.blog.servlet.LikeServlet</servlet-class>
  </servlet>
    

  
  <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/com.blog.servlet/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/com.blog.servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/com.blog.servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Edit</servlet-name>
  <url-pattern>/com.blog.servlet/EditServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  <servlet-name>Posting</servlet-name>
  <url-pattern>/com.blog.servlet/AddPostServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Like</servlet-name>
  <url-pattern>/com.blog.servlet/LikeServlet</url-pattern>
  </servlet-mapping>



  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>